<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
</head>
<body>
  <div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-success shadow">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
          <ul class="navbar-nav">
            <li class="nav-item"  [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:
              true}" *ngIf="router.url.includes('user')==false && router.url.includes('company')==false && router.url.includes('admin')==false">
              <a class="nav-link" [routerLink]="['/']">Log In</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:
              true}" *ngIf="router.url.includes('user')==false && router.url.includes('company')==false && router.url.includes('admin')==false">
              <a class="nav-link" [routerLink]="['/register']">Register</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:
              true}" *ngIf="router.url.includes('user')==true">
              <a class="nav-link" [routerLink]="['/user/home']">Home</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:
              true}" *ngIf="router.url.includes('admin')==true">
              <a class="nav-link" [routerLink]="['/admin/home']"><span matBadge="{{virusNotify}}" matBadgeOverlap="false" matBadgeSize="small" [matBadgeHidden]="virusNotify==0">Viruses</span></a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:
              true}" *ngIf="router.url.includes('admin')==true">
              <a class="nav-link" [routerLink]="['/admin/usrs']"><span matBadge="{{userNotify}}" matBadgeOverlap="false" matBadgeSize="small" [matBadgeHidden]="userNotify==0">Users</span></a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:
              true}" *ngIf="router.url.includes('user')==true">
              <a class="nav-link" [routerLink]="['/user/symptom-analysis']">Symptom Analysis</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:
              true}" *ngIf="router.url.includes('admin')==true && router.url.includes('guest')==false">
              <a class="nav-link" [routerLink]="['/admin/manage']">Manage</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:
              true}" *ngIf="router.url.includes('user')==true && router.url.includes('guest')==false">
              <a class="nav-link" [routerLink]="['/user/change-password']">Change Password</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:
              true}" *ngIf="router.url.includes('admin')==true && router.url.includes('guest')==false">
              <a class="nav-link" [routerLink]="['/admin/change-password']">Change Password</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:
              true}" *ngIf="router.url.includes('user')==true || router.url.includes('admin')==true">
              <a class="nav-link" [routerLink]="['/']" (click)="logOut()">Log Out</a>
            </li>
          </ul>
        </div>
    </nav>
  </div>
</body>
</html>