<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Change password</h5>
          <mat-form-field appearance="fill" class="password1" [style.fontSize.px]=14>
            <mat-label>Enter your new password</mat-label>
            <input matInput [type]="hide1 ? 'password' : 'text'" required [(ngModel)]='input1'>
            <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
            <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field appearance="fill" class="password2" [style.fontSize.px]=14>
            <mat-label>Enter your new password again</mat-label>
            <input matInput [type]="hide2 ? 'password' : 'text'" required [(ngModel)]='input2'>
            <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
            <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          <a href="javascript:void(0)" class="card-link" (click)="change()">Submit</a>
        </div>
      </div>
</body>
</html>
